.fields-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
  }
  
  .field {
    margin-bottom: 5px;
  }
  
  /* .dialog-title {
    border-bottom: 2px solid gray;
    padding-bottom: 20px;   
    width: 105%;
   
  } */
  
  .inputfieldgap{
    margin-top: -5px;
    margin-bottom: -25px;
  background-color: #F7F7F7;
  }
  .drp{
    width: 100%;
  }
  .reusablebtn{
    margin-top: 15px;
   
  }
  .p-dialog .p-dialog-header {
    border-bottom: 2px solid gray;
    background: #ffffff;
    color: #343a40;
    padding: 1rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    /* margin-bottom: -5px; */
}