.Sidebar {
    width: 200px;
    height: 100%;
    background-color: rgb(0, 0, 77);
    color: #fff;
    position: fixed;
    left: 0;
    border-right: 1px solid #ccc;
  }
  
  ul {
    list-style: none;
    padding: 8px 16px 16px 16px;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  .content{
    text-align: center;
  }
  .hello{
    color: #fff;
    text-decoration: none;
    font-size: small;
  
  }
  .hello:hover {
    color: lightslategrey; 
  }
  
  
  
  
  .ipsum{
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px black;
  }
  .icon {
    width: 30px;
    height: 30px;
    background-color: rgba(211, 211, 211, 0.081);
    color: skyblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* margin-left: -00px;
    margin-right: 30px; */
}
  .Icon{
    width: 30px; 
    height: 30px; 
    background-color: rgba(211, 211, 211, 0.081); 
    color: skyblue; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    margin-right: 30px;
    margin-left: 30px;
  
    
  }
  
  
  .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
  }
  .nameicon{
    color: black;
    margin-right: -9px;
   
  }
  .navbar{
    border-bottom: 1px solid #ccc ;
    height: 55px;
  
  }
  .person{
    margin-right: 60px;
  
  }
  .help{
    padding: 8px 16px 16px 20px;
    margin-top: 270px;
    border-top: 1px solid;
    font-size: small;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown i {
    position: absolute;
    margin-left: 80px;
    margin-top: 5px;
  
  }
  .dropdown1 {
    position: relative;
  }
  
  .dropdown1 i {
    position: absolute;
    margin-left: 43px;
    margin-top: 5px;
  }
  
  .dropdown2 {
    position: relative;
  }
  
  .dropdown2 i {
    position: absolute;
    margin-left: 40px;
    margin-top: 5px;
  }
  .dropdown3 {
    position: relative;
  }
  
  .dropdown3 i {
    position: absolute;
    margin-left: 40px;
    margin-top: 5px;
  }
  .dropdown4 {
    position: relative;
  }
  
  .dropdown4 i {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color:gray;
  }
  .dropdown {
    position: absolute;
    left: 45%;
    top: 10;
    
}