.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #8E8D8C;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}
.h1{
    margin-right: 930px;
    padding-top: 40px;
    padding-bottom: 10px;
}
/* Dashboard.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .action-button {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
  }
  
  .dropdown-content button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  